# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/

# Environment variables
.env

# Screenshots
screenshots/

# Reports
reports/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log